.nav-item{
	padding-left: 20px;
	padding-right: 20px;
}

.nav-list{
	margin-left: 156px;
}
  
.example-spacer {
	flex: 1 1 auto;
}
	
mat-toolbar{
		background-color: #aa1212;
		color: rgb(255, 255, 255);
}

.brand-name{
	color: aliceblue;
}

.mat-input-element {
    caret-color: #fcfcfc;
}

.toolbar-btn{
	margin-left: 0.5%;
	background-color: #540000;
	color: white;
}


 

	  