<!-- <h2 mat-dialog-title>Change scholarship</h2>
<mat-dialog-content>
    <form novalidate (ngSubmit)="onSubmit(form)" [formGroup]="moveForm" role="form">
        <div class="form-content">
          <div class="field-container">
            <mat-form-field class="form-fields">
              <mat-select placeholder="Select an option" formControlName="option_description" >
                  <mat-option *ngFor="let option of options" [value]="option.option_description">
                    {{option.option_description}}
                  </mat-option>
                </mat-select>
            </mat-form-field>
              <div class="button-row">
                  <button mat-button type="button" (click)="cancel()">Cancel</button>
                  <button mat-raised-button type="submit"  [disabled]="moveForm.invalid">Change</button>
              </div>
          </div>
        </div>
      </form>
</mat-dialog-content> -->

<div class="success-area">

    <table id="installmentsDataTable" class="display" style="width:100%">
      <thead>
        <tr>
          <th>Id</th>
          <th>Signature</th>
          <th>Payment</th>
          <th>Start Date</th>
          <th>End Date</th>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <th>Id</th>
          <th>Signature</th>
          <th>Payment</th>
          <th>Start Date</th>
          <th>End Date</th>
        </tr>
      </tfoot>
    </table>

</div>
