.second-row{
    margin-top: 7px;
}

.mat-tab-group{
    width: 100%;
}

.tab-container{
    width: 50%;
    padding: 13px;
}

h3{
    text-align: center !important;
    font-size: 1.5rem !important;
    font-weight: 900 !important;
    background-color: #ffffff;
  border-radius: 5px;
}

canvas{
  background-color: #ffffff;
}

.mat-tab-label.mat-tab-label-active {
    min-width: 25px !important;
    padding: 5px;
    background-color: transparent;
    color: red;
    font-weight: 700;
}

.form-fields{
    float: right;
}

.bar-chart{
    margin-top: 54px;
}

