// .card-header{
// 	text-align: center ;
// }
.profile-container{
	margin-left: -5px;
    margin-top: 11px;
}


.profile-dertails-card{
  margin-top: 15px;
}

.details-card
{
  margin-top: 5px;
}

.editor{
  color: #afaeae;
    font-family: inherit;

    font-weight: 500;
}

.chat{
  position: absolute;
}

