<div  class="success-area">
  <mat-card>
    <button mat-button (click)="openAddDialog()">Add New Faculty</button>
  </mat-card>
  <br>
  <mat-card>
    <table id="facultyDataTable" class="display" style="width:100%">
      <thead>
          <tr>
            <th >Id</th>
            <th>Options</th>
            <th>Name</th>
            
          </tr>
      </thead>    
      <tfoot>
        <tr>
          <th >Id</th>
          <th>Options</th>
          <th>Name</th>
          
       </tr>
      </tfoot>
    </table>
  </mat-card>
</div>


