<div  class="success-area">
  <mat-card>
    <button mat-button (click)="openAddDialog()">Add New Post</button>
  </mat-card>
  <br>
  <mat-card>
    <table id="postsDataTable" class="display" style="width:100%">
      <thead>
          <tr>
            <th>Id</th>
            <th>Options</th>
            <th>Title</th>
            <th>Date</th>
            <th>Body</th>
          </tr>
      </thead>    
      <tfoot>
        <tr>
          <th >Id</th>
          <th>Options</th>
          <th>Title</th>
          <th>Date</th>
          <th>Body</th>
       </tr>
      </tfoot>
    </table>
  </mat-card>
</div>