<div  class="success-area">
  <mat-card>
    <button mat-button (click)="openAddDialog()">Stat new Period</button>
  </mat-card>
  <br>
  <mat-card>
    <table id="periodDataTable" class="display" style="width:100%">
      <thead>
          <tr>
            <th >Id</th>
            <th>Options</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Status</th>
          </tr>
      </thead>    
      <tfoot>
        <tr>
          <th >Id</th>
          <th>Options</th>
          <th>Start Date</th>
          <th>End Date</th>
          <th>Status</th>
       </tr>
      </tfoot>
    </table>
  </mat-card>
</div>
