<div  class="success-area">
    <mat-card>
      <button mat-button (click)="openAddDialog()">Add New Role</button>
    </mat-card>
    <br>
    <mat-card>
      <table id="roleDataTable" class="display" style="width:100%">
        <thead>
            <tr>
              <th >Id</th>
              <th>Options</th>
              <th>Role</th>
              <th>Description</th>
            </tr>
        </thead>
        <tfoot>
          <tr>
            <th >Id</th>
            <th>Options</th>
            <th>Role</th>
            <th>Description</th>
         </tr>
        </tfoot>
      </table>
    </mat-card>
</div>
