<div class="success-area">
  <!-- <mat-card>
    <button mat-button (click)="openAddDialog()">Add New Role</button>
  </mat-card> -->
  <br>
  <mat-card>
    <table id="bursaryRequestsDataTable" class="display" style="width:100%">
      <thead>
        <tr>
          <th>Id</th>
          <th>Options</th>
          <th>Student No</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Schol status</th>
          <th>Apply Again Status</th>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <th>Id</th>
          <th>Options</th>
          <th>Student No</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Schol status</th>
          <th>Apply Again Status</th>
        </tr>
      </tfoot>
    </table>
  </mat-card>
</div>
