:host {
  background: #fff;
  border-color: #212529;
  color: #000;
  position: fixed;
  left: auto;
  top: 0;
  right: 0;
  bottom: 0;
  width: 40%;
  min-width: 250px;
  z-index: 9999;
}

.card{
  height: 100%;
}

.card-header {
  background-color: #aa1212;
}

.card-footer{
  background-color: #aa1212;
}



