// mat-card{
//   width: 70%;
//   margin: auto;
// }

//--------------------------------------common--------------------------------------------//

.barapp-container{
  width: 70%;
  margin: auto;
}

.content{
  width: 100%;
}

.header{
  width: 50%;
  margin: auto;
  text-align: center;
}


//--------------------------------------------form----------------------------------------//
.form-fields{
width: 100%;
 margin-top: 14PX;
 margin-bottom: 14px;
}

.button-row{
  float: right;
}


// ----------------------------------------income image --------------------------------//
.image-td{
  width: 56%;
}

.approval-image{
  width: 100%;
}

.income-image{
  margin: auto;
}

.table-container{
  margin-top: 88px;
}

//--------------------------------------------message-------------------------------------//
.denied-icon{
  color: red;
}
