<div  class="success-area">
    <mat-card>
      <button disabled mat-button (click)="openAddDialog()">Add New Scholarship</button>
    </mat-card>
    <br>
    <mat-card>
      <table id="scholarshipDataTable" class="display" style="width:100%">
        <thead>
            <tr>
              <th >Id</th>
              <th>Options</th>
              <th>Name</th>
              <th>Amount</th>

            </tr>
        </thead>
        <tfoot>
          <tr>
            <th >Id</th>
            <th>Options</th>
            <th>Name</th>
            <th>Amount</th>

         </tr>
        </tfoot>
      </table>
    </mat-card>
  </div>


