<h2 mat-dialog-title>Edit Role</h2>
<mat-dialog-content>
    <form novalidate (ngSubmit)="onSubmit(form)" [formGroup]="roleEditForm" role="form">
        <div class="form-content">
          <div class="field-container">       
           <mat-form-field class="form-fields">
                    <input type="text" formControlName="name"  matInput placeholder="Role"> 
            </mat-form-field>  
            <mat-form-field class="form-fields">
                <input type="text" formControlName="description"  matInput placeholder="Description"> 
            </mat-form-field>     
              <div class="button-row">
                  <button mat-button type="button" (click)="cancel()">Cancel</button>
                  <button mat-raised-button type="submit"  [disabled]="roleEditForm.invalid">Update</button>
              </div>
          </div>
        </div>
      </form>
</mat-dialog-content>