.field-container{
	width: 100%;
	display: inherit !important;
}

// .edit-form-card{
// 	display: flex;
// 	flex-direction: column;
// }

  .form-fields{
	 width: 100%;
  }

.button-row{
	float: right;

}

