
// .income-image{
//   //margin: 30px;
//   padding-left: 162px;
// }



// .button-row{
//   float: right;
//   margin-top: 10px;

// }

// .card-header {
//   border-radius: 4px;
//   text-align: center;
//   padding-top: 20px;
// }

// mat-card{
//   margin-top: 13px;
// }

// .container {
//   padding: 5px;
//   color: #9f9f9f;
//   display: inline block;
// }

.content {
  width: 100%;
}


.header {
  // width: 50%;
text-align: center;
margin-left: auto;
margin-right: auto;
margin-top: 5px;
margin-bottom: auto;

}


.container{
  width: 80%;
  margin: auto;
}

mat-form-field{
  width: 100%;
}

.income-image{
  margin-top: 5px;
}

.button-row{
  float: right;
}

example-radio-group {
  display: inline-flex;
  flex-direction: column;
}

.example-radio-button {
  margin: 5px;
}
