.card-image-up{
    padding-bottom: 6% !important;

} 

.user-image{
    width: 152px;
    height: 152px;
    margin-left: 64px;
    margin-top: 26px;
    position: absolute;
  
}

.profile-photo{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    
}

.img-change-btn{
    //position: absolute;
    float: right;
    margin-top: -40px;
}






