

.table-area{
  padding-bottom: 10px;
  width: 100%;
}


.header {
  width: 100%;
}

.content {
  width: 60%;
  margin: auto;
  text-align: center;
  border-radius: 2px;
  background-color: #ffffff;
  color: #212529;
}

.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('../../../../../assets/images/timeline_1072029.png');
  background-size: cover;
}

