<mat-card>
<table id="mainDataTable" class="display" style="width:100%">
    <thead>
      <tr>
        <th>Student No</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Scholership</th>
        <th>Faculty</th>
        <th>Entrance Year</th>
        <th>NIC</th>
        <th>Email</th>
        <th>Signature</th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <th>Student No</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Scholership</th>
        <th>Faculty</th>
        <th>Entrance Year</th>
        <th>NIC</th>
        <th>Email</th>
        <th>Signature</th>
      </tr>
    </tfoot>
</table>
</mat-card>
