<h2 mat-dialog-title>Edit Faculty</h2>
<mat-dialog-content>
    <form novalidate (ngSubmit)="onSubmit(form)" [formGroup]="facultyEditForm" role="form">
        <div class="form-content">
          <div class="field-container">       
           <mat-form-field class="form-fields">
                    <input type="text" formControlName="faculty_name"  matInput placeholder="Faculty Name"> 
            </mat-form-field>     
              <div class="button-row">
                  <button mat-button type="button" (click)="cancel()">Cancel</button>
                  <button mat-raised-button type="submit"  [disabled]="facultyEditForm.invalid">Save</button>
              </div>
          </div>
        </div>
      </form>
</mat-dialog-content>
